* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  color: rgb(53, 53, 53);
}

body {
  font-family: 'Lato', sans-serif;
  background: #c6ffdd;
  background: -webkit-linear-gradient(to right, #f7797d, #fbd786, #c6ffdd);
  background: linear-gradient(to right, #f7797d, #fbd786, #c6ffdd);
}

h3,
h4 {
  font-weight: 400;
  color: rgb(99, 98, 98);
}

@import './song';
@import './player';
@import './library';
@import './nav';
